# Rust
/target
/Cargo.lock
novasdr_nr_py/target/

# Python
venv/
audio_processor/venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
*.swp
*.swo
*~
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Compiled Python extensions
*.pyd
*.dll

# Distribution / packaging
build/
dist/
*.egg-info/
